@import "~bulma/bulma";
@import "./custom_colors";

#restaurant {
  img{
    @media (min-width:641px) {
      max-height: 69px;
      width: 100%;
    }
  }

  .infos{
    @media (min-width:641px) {
      margin-left: 20px;
    }

    h2.title {
      font-size: 13pt
    }
  
    h4.subtitle {
      font-size: 11pt;
      margin-bottom: 10px;
    }

  }
  
}

